.expanded {
  margin-top: 10px !important;
}



.product-description {
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-end;
}

.button.tiny {
  margin-left: 11%;
}

.similar-products-section.button{
  margin-left: 11%;
}

.similar-products-section.large-up-1{
  margin: 10px !important;
}

h5{
  margin-top: 1rem !important;
  color: #082a4c !important;
}
