
.product-image-gallery {
  background-color: #fefefe;
  padding: 1.5rem;
}

.pdp-product-image {
  margin-bottom: 20px;
}

.product-thumbs a {
  margin-left: 8px;
  margin-right: 8px;
  padding: 0 !important;
}

.product-thumbs a img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  border: none;
}
.overlay{
  position: fixed;
  left: 50%;
  width: 550px;
  height: 550px;
  margin-left: -150px;
  margin-top: -100px;
  background-color: #f1c40f;
  text-align: center;


  z-index: 10;
  outline: 9999px solid rgba(0,0,0,0.5);
}

.awssld {
  --slider-height-percentage: 90% !important;
}
